@import "compass/reset";
@import "compass/css3";
@import "customization";

@import "items/navigation";
@import "items/fullscreen";
@import "items/text";
@import "items/developers";


body{
	font-size: 1em;
	background: $bgcolor;
	color: $textcolor;
	line-height: 1.55;
	font-family: $font;
}

h1, h2, h3{
	font-family: $headerfont;
	font-weight: 300;
}

h1{
	font-size: 2.8em;
}

h2{
	font-size: 2.4em;
}

h3{
	font-size: 1.8em;
}

main#docs{
	margin: 0 0 0 150px;
}

.docs{
	header{
		position: fixed;
		top: 50px;
		left: 50px;
		background: lighten( $bgcolor, 20% );
		border:1px solid darken( $bgcolor, 10% );
		padding: 0.8em;
		ul{
			margin: 0 0 0 1em;
			list-style: square;
		}
	}
	.entry{
		h1{
			margin: 1em 0 0.35em 0;
			color: $maincolor;
			font-size: 3.2;
		}
		p{
			margin: 0 0 1em 0;
		}
		img{
			display: block;
			margin: 0 auto;
			max-width: 100%;
			border: 2px solid lighten( $bgcolor, 20% );
			@include box-shadow(0 0 5px 0 rgba(100,100,100, 0.5) );
		}
		pre, code{
			font-family: $prefont;
		}
		code{
			background: darken( $bgcolor, 5% );
		}
		pre{
			code{
				background-color: #3D3D3D;
			}
			color: #F0F0F0;
			background-color: #3D3D3D;
			padding: 0.5em 0.8em;
			@include box-shadow(inset 0 0 5px 0 rgba(0,0,0, 0.3) );
		}
	}
}